---
import Layout from "@src/layouts/Layout.astro";
---

<Layout title="Calculadora de Salud">
  <section class="flex gap-10">
    <button
      class="px-10 py-2 bg-gray-400 rounded-md font-medium text-slate-950
       hover:bg-gray-600 hover:text-white hover:transition-all
         hover:ease-in-out hvoer:duration-1000 cursor-pointer"
    >
      Calculo de magnesio
    </button>

    <button
      class="px-10 py-2 bg-gray-400 rounded-md font-medium text-slate-950
    hover:bg-gray-600 hover:text-white hover:transition-all
    hover:ease-in-out hvoer:duration-1000 cursor-pointer"
    >
      Calculo de Fosforo
    </button>
  </section>
</Layout>
