---
import Fosforo from "@src/components/Fosforo.astro";
import Magnesio from "@src/components/Magnesio.astro";
import Layout from "@src/layouts/Layout.astro";

const { vieMagnesio, vieFosforo } = Astro.props;
---

<Layout title="Calculadora de Salud">
  <div class="flex flex-col p-4 mt-10 md:flex-row gap-4">
    <button
      id="btn-magnesio"
      class="px-10 py-2 border-2 border-gray-400 rounded-md font-medium text-slate-950
       hover:bg-gray-800 hover:text-white hover:transition-all
         hover:ease-in-out hvoer:duration-1000 cursor-pointer"
    >
      Correcciones de magnesio
    </button>

    <button
      id="btn-fosforo"
      class="px-10 py-2 border-2 border-gray-400 rounded-md font-medium text-slate-950
    hover:bg-gray-800 hover:text-white hover:transition-all
    hover:ease-in-out hvoer:duration-1000 cursor-pointer"
    >
      Correcciones de Fosforo
    </button>
  </div>
  <section class="flex flex-col gap-10">
    <Magnesio vieMagnesio="magnesio-content" />
    <Fosforo vieFosforo="fosforo-content" />
  </section>
</Layout>

<script>
  const btnMagnesio = document.getElementById("btn-magnesio")!;
  const btnFosforo = document.getElementById("btn-fosforo")!;

  btnMagnesio?.addEventListener("click", () => {
    btnFosforo.classList.add("border-gray-400");
    btnMagnesio.classList.remove("border-gray-400");
    document.getElementById("magnesio-content")?.classList.remove("hidden");
    document.getElementById("fosforo-content")?.classList.add("hidden");
  });

  btnFosforo?.addEventListener("click", () => {
    btnMagnesio.classList.add("border-gray-400");
    btnFosforo.classList.remove("border-gray-400");
    document.getElementById("magnesio-content")?.classList.add("hidden");
    document.getElementById("fosforo-content")?.classList.remove("hidden");
  });
</script>
