---
import Magnesio from "@src/components/magnesio.astro";
import Layout from "@src/layouts/Layout.astro";
---

<Layout title="Calculadora de Salud">
  <section class="flex flex-col gap-10">
    <Magnesio />
  </section>
</Layout>
