<section class="pt-20 flex flex-col items-center justify-center gap-10">
  <h1 class="text-4xl font-bold">Bienvenido a la calculadora de salud</h1>
  <p class="text-xl font-medium text-pretty text-gray-500">
    Esta es una calculadora de salud que te ayudara a calcular la dosis de
    medicación basado en parametros como edad, peso, sexo, etc.
  </p>
</section>
