<section class="bg-white dark:bg-gray-900">
    <div class="text-center">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Calculadora de Dosis</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Esta es una calculadora de salud que te ayudara a calcular la dosis de
            medicación basado en parametros como edad, peso, etc.</p>        
    </div>
</section>
